<connectionStrings>
  <!--Default Connection - used by Identity Samples-->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=StoreFront;Integrated Security=true" providerName="System.Data.SqlClient" />

  <!--Entities Connection - used by Entity Framework-->
  <add name="StoreFrontEntities" connectionString="metadata=res://*/StoreFrontEntityModel.csdl|res://*/StoreFrontEntityModel.ssdl|res://*/StoreFrontEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=StoreFront;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>